@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animation-delay-2000 {
        animation-delay: 2s;
    }
    .animation-delay-4000 {
        animation-delay: 4s;
    }
    .hide-border-overflow {
        -webkit-mask-image: -webkit-radial-gradient(white, black);
    }
}

html {
    --line-color: #e5e7eb
}

html.dark {
    --line-color: rgba(255, 255, 255, 0.2)
}

.borderBlack{
    @apply border border-black/10;
}
